# Supabase PostgreSQL Database
host=db.iqjjyrauttrhcfcismsy.supabase.co
port=5432
database=postgres
user=postgres
password=Thebestisdevon1

# Exchange APIs
EXCHANGE_API_KEY=b12506e4-ba91-4aae-9c28-4120fe0f975d
EXCHANGE_SECRET_KEY=GLNvhWf-CQaivLy5eEzYlW8edDTovTKux3Lwgxucj1wzMzczNWNiYi1kOGRiLTRjZDMtOTdmOC04Y2ZmNjI4MmNhOWU

# AI API
DEEPSEEK_API_KEY=sk-f2c48dcb44a64b20a4f3a23841820b19

# Supabase PostgreSQL Connection
DB_USER=postgres
DB_PASSWORD=Thebestisdevon1
DB_HOST=db.iqijyrauttrhcfcismsy.supabase.co
DB_PORT=5432
DB_NAME=postgres

# Supabase API Configuration
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxaWp5cmF1dHRyaGNmY2lzbXN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg3OTgxNjEsImV4cCI6MjA4NDM3NDE2MX0.Fg3lWQ8hlgsD4cNKgruZrzXLpV1PstMCO_rRnPIMokA
SUPABASE_URL=https://iqijyrauttrhcfcismsy.supabase.co
